name: Deploy Prod PakarGaming Dashboard

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy Dashboard (Prod)
    runs-on: [self-hosted, prod]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy Dashboard
        shell: bash
        run: |
          set -e

          echo "Workspace: $GITHUB_WORKSPACE"
          cd "$GITHUB_WORKSPACE"

          echo "Listing files"
          ls -la

          docker compose -f docker-compose.prod.yml down || true
          docker compose -f docker-compose.prod.yml build
          docker compose -f docker-compose.prod.yml up -d
